# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Env
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Docker
docker-data/

